@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-background: oklch(from white calc(l * 0.02) c h);
  --color-foreground: oklch(from white calc(l * 0.98) c h);
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    --color-background: oklch(from black calc(l + 0.02) c h);
    --color-foreground: oklch(from black calc(l + 0.98) c h);
  }
}

html.dark {
  @theme inline {
    --color-background: oklch(from black calc(l + 0.02) c h);
    --color-foreground: oklch(from black calc(l + 0.98) c h);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
